.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1e293b, #020617);
}

.login-card {
  width: 360px;
  padding: 40px;
  border-radius: 20px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255,255,255,0.1);

  display: flex;
  flex-direction: column;
  gap: 18px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.login-card h2 {
  text-align: center;
}

.login-card p {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
}


.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  background: transparent;
  color: white;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.6;
  pointer-events: none;
  transition: 0.3s;
}


.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 11px;
  color: #6366f1;
}


.password span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
}


.error {
  color: #ef4444;
  font-size: 13px;
  text-align: center;
}


.login-card button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg, #6366f1, #22c55e);
  color: white;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(99,102,241,0.4);
}


.brand-title {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0;
  background: linear-gradient(270deg, #6366f1, #22c55e, #6366f1);
  background-size: 400% 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 6s ease infinite;

  letter-spacing: 1px;
}


.subtitle {
  text-align: center;
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 30px;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}